rdr pass log on {{ host_net_ext_if }} proto udp \
  from any \
  to { {{ host_net_ext_ip }} } port {{ rslsync_port }} \
  -> {{ jail_net_ip }}

rdr pass log on {{ host_net_ext_if }} proto tcp \
  from any \
  to { {{ host_net_ext_ip }} } port {{ rslsync_port }} \
  -> {{ jail_net_ip }}

rdr pass log on {{ host_net_ext_if }} proto tcp \
  from any \
  to { {{ host_net_ext_ip }} } port 443 \
  -> {{ jail_net_ip }}
