nat pass log on {{ host_net_ext_if }} proto tcp \
   from {{ jail_net_ip }} \
   to config.usyncapp.com port {http,https}

nat pass log on {{ host_net_ext_if }} proto {tcp,udp} \
   from {{ jail_net_ip }} \
   to t.usyncapp.com port 3000
